// @import 'assets/viewer4.0/style.min.css';
.viewer {
    position: relative;
    
    height: 850px;
    margin: -20px;
  }
  


// :host ::ng-deep .ant-layout, .ant-layout * {
//     webkit-box-sizing: content-box;
//     box-sizing: content-box; 
// }

// .adsk-viewing-viewer *{
//      border-sizing:content-box !important
// }
.i-chart{
    background-color: rgb(0, 0, 0);

}