
<!-- <div id="MyViewerDiv"></div> -->
<div #viewerContainer class="viewer"></div>
<div class="i-chart">
    <div id="mountNode" style="position:absolute;right:20px;top:100px; z-index:1001">
        <nz-card style="width:300px; height:300px" z-col class="gutter-row" nzSpan="6">
            <p>Card2 content</p>
            <p>Card2 content</p>
            <p>Card2 content</p>
          </nz-card>
    </div>  
  </div>
  <div class="i-chart">
    <div id="mountNode2" style="position:absolute;right:20px;top:430px;z-index:1001">
        <nz-card style="width:300px; height:300px" z-col class="gutter-row" nzSpan="6">
            <p>Card2 content</p>
            <p>Card2 content</p>
            <p>Card2 content</p>
          </nz-card>
    </div>  
  </div>