<p>
  common-grid works!
</p>
<button nz-button nzType="primary" (click)="createTplModal(tplTitle, tplContent, tplFooter)">
  <span>Template</span>
</button>
<app-common-table> </app-common-table>
<ng-template #tplTitle>
  <span>Title Template</span>
</ng-template>
<!-- <ng-template #tplContent>
  <p>some contents...</p>
  <p>some contents...</p>
  <p>some contents...</p>
  <p>some contents...</p>
  <p>some contents...</p>
</ng-template> -->
<template #test>
<ng-template #tplContent>
<app-common-form [config]="config"> </app-common-form>
</ng-template>
</template>
<ng-template #tplFooter>
  <button nz-button nzType="primary" (click)="destroyTplModal()" [nzLoading]="tplModalButtonLoading">Close after submit</button>
</ng-template>
