<app-common-search
[config]="configSearch"
(searched) = "search($event)"
></app-common-search>
<!-- <button nz-button nzType="primary" (click)="createTplModal(tplTitle, tplContent, tplFooter)">
  <span>Template</span>
</button> -->
<p></p>
<app-common-table
(addForm)="createTplModal(tplTitle, tplContent, tplFooter)"
> </app-common-table>
<ng-template #tplTitle>
  <span>编辑框</span>
</ng-template>

<template #test>
<ng-template #tplContent>
<app-common-form [config]="config"
(submitted) = "formSubmitted($event)"
> </app-common-form>
</ng-template>
</template>
<!-- <ng-template #tplFooter>
  <button nz-button nzType="primary" (click)="destroyTplModal()" [nzLoading]="tplModalButtonLoading">Close after submit</button>
</ng-template> -->
