<nz-layout>
  <nz-sider>
    <div class="logo">NGF</div>
    <ul  nz-menu [nzTheme]="'dark'" [nzMode]="'inline'">
      <div *ngFor = "let item of menuData">
        <li nz-submenu *ngIf="item.children">
          <span title><i class="anticon {{item.icon}}"></i>{{item.title}}</span>
          <ul *ngIf = "item.children">
            <app-sidebar [data] = "item.children"></app-sidebar>
          </ul>      
        </li>
        <li nz-menu-item *ngIf="!item.children" routerLink="{{item.url}}">
          <span title><i class="anticon anticon-user"></i>{{item.title}}</span>            
        </li>
      </div>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="pull-right">
        <nz-dropdown>
          <a class="ant-dropdown-link" nz-dropdown>
            用户：{{accountName}}<i class="anticon anticon-down"></i>
          </a>
          <ul nz-menu>
            <li nz-menu-item> <i class="anticon anticon-lock"></i> 修改密码</li>
            <li nz-menu-item (click)="logout()"> <i class="anticon anticon-logout"></i> 注 销</li>
          </ul>
        </nz-dropdown>
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer></nz-footer>
  </nz-layout>
</nz-layout>
