<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
    <div class="logo">宁波杉工</div>
    <ul  nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <div *ngFor = "let item of menuData">
        <li nz-submenu *ngIf="item.children">
          <span title><i class="anticon {{item.icon}}"></i><span class="nav-text">{{item.title}}</span></span>
          <ul *ngIf = "item.children">
            <app-sidebar [data] = "item.children"></app-sidebar>
          </ul>      
        </li>
        <li nz-menu-item *ngIf="!item.children" routerLink="{{item.url}}">
          <span title>
            <i class="anticon anticon-user"></i><span class="nav-text">{{item.title}}</span>
        </span>            
        </li>
      </div>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div nz-row>
        <div nz-col [nzSpan]='1'>
          <i class="anticon trigger" 
          [class.anticon-menu-fold]="!isCollapsed" 
          [class.anticon-menu-unfold]="isCollapsed" 
          (click)="isCollapsed=!isCollapsed"></i>      
        </div>
        <div nz-col nzOffset="22" [nzSpan]='1'>
          <div>
            <nz-dropdown>
              <a class="ant-dropdown-link" nz-dropdown>
                用户：{{accountName}}<i class="anticon anticon-down"></i>
              </a>
              <ul nz-menu>
                <li nz-menu-item> <i class="anticon anticon-lock"></i> 修改密码</li>
                <li nz-menu-item (click)="logout()"> <i class="anticon anticon-logout"></i> 注 销</li>
              </ul>
            </nz-dropdown>
          </div>
        </div>
      </div>
      
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer></nz-footer>
  </nz-layout>
</nz-layout>
