<app-common-search
[config]="configSearch"
[buttionOption] = 'buttionOption'
(sBtn)="searchBtnNotify($event)"
></app-common-search>
<p></p>

<app-common-table
(addForm)="createTplModal($event,tplTitle, tplContent, tplFooter)"
[tableTitles] ='tableTitles'
[tableData] ='tableData'
[pageSize] = 10
[keyItem] ='keyItem'
> </app-common-table>

<ng-template #tplTitle>
    <span>编辑框</span>
  </ng-template>
  <template >
  <ng-template #tplContent>
  <app-common-form [config]="modalConfig"
  (submitted) = "formSubmitted($event)"
> </app-common-form>
</ng-template>
</template>